<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="stylesheet" th:href="@{|layui/css/layui.css|}"  media="all"/>
    <style>
        #footer {
            height: 40px;
            line-height: 40px;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            background: #F0F0F0;
            color: #2F4056;
            font-family: Arial;
            font-size: 12px;
            letter-spacing: 1px;
        }
    </style>
</head>
<body bgcolor="#F0F0F0">
<div style="text-align: center; padding:11% 0;">
    <i class="layui-icon" style="line-height:20rem; font-size:20rem; color: #393D50;"></i>
    <p style="font-size: 20px; font-weight: 300; color: #999;">我勒个去，页面被外星人挟持了!</p>
    <p style="font-size: 20px; font-weight: 300; color: #999;">ps:请求参数不能为空哦</p>
    <div id="footer">©2018-2019 Wang Xiaodong. All Rights Reserved. </div>
</div>
</body>
</html>